$tablet-width: 768px;
$desktop-width: 1440px;

$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$white: #ffffff;

$color-primary: #444444;
$color-secondary: #000000;
$color-3: #111111;
$color-4: #222222;
$color-5: #666666;

$bg-primary: #68b738;
$bg-secondary: #f2f2f2;
$bg-tertiary: #eaeaea;
