.hero {
  background-color: $bg-primary;
  background-image: linear-gradient($bg-primary 50%, $white 50%);
}

.hero__title,
.hero__text {
  font-family: $font-secondary;
  color: $white;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero__text {
  line-height: 14px;
  text-transform: uppercase;
}

.hero__link {
  font-size: 16px;
  line-height: 20px;
}
