.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 20px 20px;
  background-image:
    linear-gradient(rgba($bg-primary, 0.85) 60%, $white 40%),
    image-set(
      url("../../images/bg-cat-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/bg-cat-mobile@1x.jpg") 1x type("image/jpeg")
    ),
    linear-gradient($color-primary, $color-primary);
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($bg-primary, 0.85) 60%, $white 40%),
      image-set(
        url("../../images/bg-cat-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/bg-cat-mobile@2x.jpg") 2x type("image/jpeg")
      ),
      linear-gradient($color-primary, $color-primary);
  }
}

.hero__title,
.hero__text {
  margin: 0;
  font-family: $font-secondary;
  color: $white;
  text-align: center;
}

.hero__title {
  max-width: 280px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero__text {
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__link {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .hero {
    position: relative;
    align-items: flex-start;
    padding: 40px 30px 0;
    background-image: none;
  }

  .hero__title,
  .hero__text {
    max-width: 600px;
    padding: 0 90px;
    color: $color-secondary;
    text-align: left;
  }

  .hero__title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 20px;
  }

  .hero__link {
    position: absolute;
    bottom: 538px;
    width: unset;
    margin-left: 90px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    max-width: $desktop-width;
    margin: -143px auto 0;
    padding: 224px 110px 0;
    min-height: 694px;

    background-image:
      linear-gradient(-90deg, rgba($bg-primary, 0.85) 50%, $white 50%),
      image-set(
        url("../../images/bg-cat-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/bg-cat-desktop@1x.jpg") 1x type("image/jpeg")
      ),
      linear-gradient($color-primary, $color-primary);
    background-repeat: no-repeat;
    background-position: 100% 0;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(-90deg, rgba($bg-primary, 0.85) 50%, $white 50%),
        image-set(
          url("../../images/bg-cat-desktop@2x.webp") 2x type("image/webp"),
          url("../../images/bg-cat-desktop@2x.jpg") 2x type("image/jpeg")
        ),
        linear-gradient($color-primary, $color-primary);
    }
  }

  .hero__title,
  .hero__text {
    padding: 0 80px;
  }

  .hero__img {
    position: absolute;
    top: 143px;
    right: 331px;
    width: 552px;
    height: 499px;
  }

  .hero__link {
    bottom: 185px;
    margin-left: 80px;
  }
}
