.map__box {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $white;

  &--inner {
    background-color: $bg-secondary;
  }
}

.map__text,
.map__col {
  width: 140px;
}

.map__text {
  font-family: $font-secondary;
  font-size: 16px;
  color: $color-3;
  text-transform: uppercase;
}

.map__text,
.map__address,
.map__city {
  margin: 0;
  line-height: 20px;
}

.map__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .map__box {
    padding: 60px 70px;
  }

  .map__text,
  .map__col {
    width: 160px;
  }

  .map__text {
    font-size: 20px;
    line-height: 26px;
  }

  .map__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  .map__address,
  .map__city {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .map__container {
    position: relative;
    max-width: $desktop-width;
    margin: 0 auto;
  }

  .map__box {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 60px 80px;

    &--inner {
      background-color: $white;
    }
  }

  .map__col {
    text-align: left;
  }
}
