.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 13px 20px;
  border-bottom: 1px solid $bg-4;
}

.nav__logo,
.nav__link {
  text-decoration: none;
}

.nav__logo {
  @include logo-effect;

  display: flex;
  gap: 56px;
  align-items: center;
  height: 38px;
}

.nav__logo-img {
  min-width: 33px;
  max-width: 33px;
}

.nav__toggle {
  position: absolute;
  right: 0;
  width: 66px;
  height: 65px;
  padding: 0;
  border: none;
  background-color: unset;
  background-image: url("../../icons/stack.svg#icon-open-mobile");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--opened {
    background-image: url("../../icons/stack.svg#icon-close-mobile");
    background-size: 18px 18px;
  }
}

.nav__list {
  @include list-style;
}

.nav__link {
  @include opacity-effect;

  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  color: $color-secondary;
  text-transform: uppercase;
}

@media (max-width: ($tablet-width - 1)) {
  .nav--nojs .nav__list {
    position: static;
  }

  .nav--nojs {
    flex-direction: column;
    padding: 0;
  }

  .nav--nojs .nav__logo {
    margin: 13px 22px;
    margin-right: auto;
  }

  .nav--nojs .nav__toggle {
    display: none;
  }

  .nav--nojs .nav__link {
    padding: 23px;
  }

  .nav--opened .nav__list {
    display: block;
  }

  .nav__list {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: $white;

    display: none;
  }

  .nav__item {
    border-bottom: 1px solid #e6e6e6;
  }

  .nav__link {
    display: block;
    padding: 21px;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    gap: 40px;
    padding: 25px 30px;
    border-bottom: none;
  }

  .nav__logo {
    gap: 13px;
    min-width: 174px;
    max-width: 174px;
    height: 50px;
  }

  .nav__logo-img {
    min-width: 60px;
    max-width: 60px;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 26px;
  }

  .nav__link {
    position: relative;
    padding: 10px 4px;
    font-size: 18px;
    line-height: 24px;

    &--current::after {
      content: "";
      position: absolute;
      left: 4px;
      right: 4px;
      bottom: 0;
      height: 2px;
      background-color: $bg-primary;
    }
  }

  .nav__link--inner.nav__link {
    &--current::after {
      right: 2px;
      bottom: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 57px 110px 29px;
    z-index: 2;
  }

  .nav__logo {
    gap: 14px;
    min-width: 202px;
    max-width: 202px;
    height: 59px;
  }

  .nav__logo-img {
    min-width: 70px;
    max-width: 70px;
  }

  .nav__logo-text {
    min-width: 118px;
    max-width: 118px;
  }

  .nav__list {
    gap: 24px;
    max-width: 600px;
  }

  .nav__link {
    font-size: 20px;
    line-height: 100%;
    color: $white;

    &--inner {
      color: $color-3;
    }

    &--current::after {
      left: 6px;
      right: 5px;
      bottom: 1px;
      background-color: $white;
    }
  }

  .nav__link--inner.nav__link {
    &--current::after {
      left: 4px;
      bottom: 1px;
      background-color: $bg-primary;
    }
  }
}
