.programs__list {
  @include list-style;
}

.programs__title,
.programs__link {
  font-family: $font-secondary;
  color: $color-secondary;
  text-transform: uppercase;
}

.programs__title {
  margin: 0;
  padding-top: 10px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programs__item {
  position: relative;
  padding: 21px 20px 18px;
  background-color: $bg-secondary;
}

.programs__item--slim,
.programs__item--pro {
  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $bg-primary;
  }

  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#icon-cat-slim");
  }
}

.programs__item--pro {
  &::after {
    top: 35px;
    left: 12px;
    width: 68px;
    height: 28px;
    background-image: url("../../icons/stack.svg#icon-cat-pro");
  }
}

.programs__link {
  display: inline-block;
  padding: 4px 17px 4px 0;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-left: 15px;
    margin-bottom: 1px;
    mask-image: url("../../icons/stack.svg#icon-arrow");
    mask-repeat: no-repeat;
    background-color: $color-secondary;
  }
}
