.programs {
  padding: 0 20px 20px;
}

.programs__list {
  @include list-style;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__item {
  position: relative;
  padding: 21px 20px 18px;
  background-color: $bg-secondary;
}

.programs__item--slim,
.programs__item--pro {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $bg-primary;
  }

  &::after {
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#icon-cat-slim");
  }
}

.programs__item--pro {
  &::after {
    top: 35px;
    left: 12px;
    width: 68px;
    height: 28px;
    background-image: url("../../icons/stack.svg#icon-cat-pro");
  }
}

.programs__title,
.programs__link {
  font-family: $font-secondary;
  color: $color-secondary;
  text-transform: uppercase;
}

.programs__title {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 10px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programs__text {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 23px;
    background-color: #d9d9d9;
  }
}

.programs__link {
  display: inline-block;
  padding: 4px 17px 4px 0;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-left: 15px;
    margin-bottom: 1px;
    mask-image: url("../../icons/stack.svg#icon-arrow");
    mask-repeat: no-repeat;
    background-color: $color-secondary;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    padding: 0 30px 30px;
  }

  .programs__list {
    gap: 30px;
  }

  .programs__item {
    padding: 77px 316px 53px 52px;
  }

  .programs__item--slim,
  .programs__item--pro {
    &::before {
      top: 92px;
      left: unset;
      right: 63px;
      width: 200px;
      height: 200px;
    }

    &::after {
      top: 81px;
      left: unset;
      right: 93px;
      width: 140px;
      height: 194px;
    }
  }

  .programs__item--pro {
    &::after {
      top: 135px;
      right: 29px;
      width: 268px;
      height: 112px;
    }
  }

  .programs__title {
    margin: 0;
    margin-bottom: 24px;
    padding-top: 0;
    padding-left: 1px;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__text {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  .programs__link {
    padding: 8px;
    padding-left: 0;
    font-size: 20px;
    line-height: 100%;

    &::after {
      content: "";
      margin-left: 25px;
      margin-bottom: 3px;
      mask-image: url("../../icons/stack.svg#icon-arrow");
      mask-repeat: no-repeat;
      background-color: $color-secondary;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 82px 110px 71px;
  }

  .programs__list {
    flex-flow: row wrap;
    gap: 80px;
  }

  .programs__item {
    max-width: 570px;
    padding: 77px 61px 55px 52px;
  }

  .programs__item--slim,
  .programs__item--pro {
    &::before {
      top: 47px;
      left: 52px;
      right: unset;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: 41px;
      left: 67px;
      right: unset;
      width: 70px;
      height: 97px;
    }
  }

  .programs__item--pro {
    &::after {
      top: 67px;
      left: 33px;
      width: 134px;
      height: 56px;
    }
  }

  .programs__title {
    margin-bottom: 73px;
    padding-left: 162px;
  }

  .programs__text {
    margin-bottom: 23px;
  }
}
