.result {
  padding: 25px 20px 40px;
  background-color: $bg-tertiary;
}

.result__heading,
.result__number,
.result__total {
  font-family: $font-secondary;
  color: $color-secondary;
}

.result__heading {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.result__text {
  margin: 0;
  margin-bottom: 20px;
}

.result__list {
  @include list-style;

  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 36px;
}

.result__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.result__number {
  padding: 15px 15px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result__desc {
  position: relative;
  bottom: -16px;
  max-width: 87px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  background-color: $bg-tertiary;
}

.result__total {
  margin: 0;
  margin-bottom: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.result__compare {
  position: relative;
}

.result__move {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  padding: 0;
  background-color: $color-5;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $color-5;
    border-radius: 50%;
    background-color: $white;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 24px;
    height: 18px;
    background-color: $color-5;
    mask-image: url("../../icons/stack.svg#icon-compare-arrows");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
    mask-position: center;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $tablet-width) {
  .result {
    position: relative;
    padding: 45px 30px 101px;
    background-color: $white;
    border-top: 1px solid #e6e6e6;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 462px;
      background-color: $bg-tertiary;
    }
  }

  .result__heading {
    margin: 0;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  .result__text {
    margin: 0;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .result__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
  }

  .result__list {
    gap: 43px;
    padding-bottom: 0;
  }

  .result__item {
    display: flex;
    flex-direction: column;
    width: 162px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
  }

  .result__number {
    font-size: 30px;
    line-height: 37px;
  }

  .result__desc {
    bottom: -6px;
    max-width: 145px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }

  .result__total {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: right;
  }

  .result__compare {
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10%;
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 110px 55px;
    border-top: none;
  }

  .result__heading {
    width: 100%;
    margin-bottom: 146px;
  }

  .result__box {
    max-width: 450px;
  }

  .result__compare {
    max-width: 560px;
    margin-bottom: 30px;
  }

  .result__row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .result__list {
    margin-bottom: 60px;
  }

  .result__total {
    flex-direction: row;
    gap: 63px;
    margin-bottom: 20px;
    text-align: left;
  }
}
