.social {
  width: 100%;
  padding: 19px;
  border-top: 1px solid $bg-4;
  border-bottom: 1px solid $bg-4;
}

.social__list {
  @include list-style;

  display: flex;
  flex-wrap: wrap;
  gap: 10px 24px;
  width: 132px;
  margin: 0 auto;
}

.social__link {
  width: 28px;
  height: 22px;

  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: $color-5;
    mask-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    background-color: $bg-primary;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  &::after {
    mask-image: url("../../icons/stack.svg#icon-vk");
  }
}

.social__link--youtube {
  &::after {
    mask-image: url("../../icons/stack.svg#icon-youtube");
  }
}

.social__link--telegram {
  &::after {
    mask-image: url("../../icons/stack.svg#icon-tg");
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    padding-left: 39px;
    border-top: none;
    border-bottom: none;
  }

  .social__list {
    width: 100%;
    max-width: 300px;
    justify-content: center;
  }
}
